# dependencies
web/node_modules
server/node_modules
web/.pnp
server/.pnp
web/.pnp.js
server/.pnp.js
node_modules

# testing
web/coverage
server/coverage

# next.js
web/.next/
server/.next/
web/out/
server/out/

# production
web/build
server/build

# misc
web/.DS_Store
server/.DS_Store
web/*.pem
server/*.pem

# debug
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

# local env files
web/.env
web/src/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
server/.env
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local

# vercel
web/.vercel
server/.vercel